<html>
<body>
<h1>Articles</h1>

<table  border="1">
<tr>
  <td>List of Articles</td>
</tr>
{% for article in articles %}
<tr>
  <td><a href="/wiki/{{article.title}}/">{{ article.title }}</a></td>
</tr>
{% endfor %}</table>
{%if status == True%}
   You are logged in!! 
   <p> Click <a href="/accounts/logout/">here</a> to logout!! </p>
{%endif%}


{%if status == False%}
   <p> Click <a href="/accounts/login/">here</a> to login!! </p>
{%endif%}

<p> Click <a href="/accounts/register/">here</a> to register!! </p>
</body>

 <form method="post" action="/search/"> {% csrf_token %}
 Enter page name to search: <input type="text" name="page_name"><br>
 <input type="submit" value="search"/><br/>
 </form>


</html>
